h1 {
    color:rebeccapurple
}
body {
    background-color:palevioletred;
    font-style:italic;
    background-image: url("../images/cholequinha.jpeg");
    background-repeat: repeat;

    }
img {
    height:400px;
    width: 500px;
}

p {
    color:black
}
